* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #0D0D0D;
    font-family: 'Barlow Condensed', sans-serif;
}
.App {
    width: 900px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: auto;
    grid-template-areas: 
        "input-form input-form"
        "message message"
        "timer timer"
        "pause speed"

    ;
}
.input-box {
    background-color: #1A1919;
    border: 1px solid #232323;
    width:60px;
    height:40px;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:25px;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    margin-top: 10px;
}
.input-box:focus {
    outline:none;
}

button {
    height: 42px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:25px;
    text-transform: uppercase;
    border: none;
}
button:focus {
    outline:none;
}
.submit-button {
    
    background-color: #1F1F1F;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 5px 5px 0;

}
.submit-button:focus {
    outline:none;
}
.submit-button:hover {
    background-color:#545353;
}
.submit-button:active {
    background-color:#fff;
}


.pause-button {
    color: #fff;
    border-radius: 20px;
    width: 130px;
    padding-left: 30px;
    background: url('/pause.png') no-repeat;
    background-color: #7B0000;

    background-position-x: 5px;
    background-position-y: 4px;
}
.pause-button:hover {
    background-color: rgb(155, 0, 0);
}
.pause-button:active {
    background-color: #C90000;
}
.pause-button:disabled {
    opacity: 20%;
}

.resume-button {
    color: #fff;
    border-radius: 20px;
    width: 130px;
    padding-left: 30px;
    background: url('/resume.png') no-repeat;
    background-color: #027B00;

    background-position-x: 5px;
    background-position-y: 4px;
}
.resume-button:hover {
    background-color: #028F00;
}
.resume-button:active {
    background-color: #03C000;
}
.resume-button:disabled {
    opacity: 20%;
}

.speed-button {
    background-color: #262626;
    padding: 4px;
    border-radius: 40px;
    width: 45px;
    height: 45px;
    margin: 3px;
    font-size:15px;
    color: #fff;

}
.speed-button:hover {
    background-color: #464646;
}
.selected {
    border: 5px solid #00B1B8;
}
.speed-button:disabled {
    opacity: 20%;
}

.warning {
    color: #C90000;
}
.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0; }
}

.input-form {
    z-index: 10;
    grid-area: input-form;
}
.message {
    grid-area: message;
    color: #CA6E00;
    text-transform: uppercase;
    height:40px;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}
.timer {
    grid-area: timer;
    height: 310px;
    z-index: -10;
    margin-bottom: 20px;

    
}

.pause {
    grid-area: pause;
}
.speed {
    grid-area: speed;
    text-align: right;
    padding-right: 50px;
}
h1 {
    font-size: 400px;
    color: #fff;
    margin-top: -100px;
    user-select: none;
    text-align: center;
}
form {
    position: relative;
}


/** Landscape **/
@media only screen and (min-device-width: 375px) 
                   and (max-device-width: 812px) 
                   and (orientation: landscape ) {
    .App {
        width:600px;
        grid-template-columns: 300px 300px;
        align-content: stretch;
    }
    .timer {
        height:200px;
    }
    h1 {
        font-size: 250px;
        margin-top: -60px;

    }
    .label-minutes {
        padding-right: 20px;
    }
    .message {
        height: 30px;
        font-size: 25px;
    }
}

/** Portrait **/
@media only screen and (min-device-width: 360px) 
                   and (max-device-width: 414px) 
                   and (orientation: portrait ) {

    .App {
        width:360px;
        grid-template-columns: 180px 180px;
        align-content: stretch;
    }
    .input-form {
        text-align: center;

    }
    h1 {
        display: grid;
        grid-template-rows: auto;
        font-size: 300px;
        width:360px;

    }
    span {
        height:250px;
        text-align: left;
        display: block;


    }
    .timer {
        height: 500px;
        width:360px;
    }
    .message {
        height: 30px;
        font-size: 25px;
        padding-bottom: 30px;
        padding-top:10px

    }
    .speed {
        grid-area: speed;
        text-align: right;
        padding-right: 0px;
    }
    
}

@media only screen and (max-device-height: 667px) 
                   and (orientation: portrait ) {
h1 {
    font-size: 250px;
}
.timer {
    height: 400px;
}
span {
    height:200px;
}
.message {
    height: 50px;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top:10px

}


                   }



